<div class="board__container">
    <mat-grid-list cols="7" [rowHeight]="rowHeight">
        <mat-grid-tile *ngFor="let column of ' '.repeat(nbColumn).split('')">
            <div class="board__column" (click)="addCircle(columnIndex)">
                <mat-grid-list cols="1">
                    <mat-grid-tile *ngFor="let row of ' '.repeat(nbRow).split('')">
                        <app-disk class="board__disk__container"></app-disk>
                    </mat-grid-tile>
                </mat-grid-list>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
