@mixin disk-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    .disk__item {
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 50%;
        background-color: mat-color($background, card);
        display: flex;
        align-items: center;
        justify-content: center;

        &.board__disk-item--filled-by-p1 {
            background-color: $player1DiskColor;
            animation: fall-down 0.5s 1;
            animation-fill-mode: forwards;
        }

        &.board__disk-item--filled-by-p2 {
            background-color: $player2DiskColor;
            animation: fall-down 0.3s 1;
            animation-fill-mode: forwards;
        }

        @keyframes fall-down {
            0% {
                opacity: 0;
                top: -1000px;
            }
            60% {
                opacity: 1;
                top: 0px;
            }
            80% {
                opacity: 1;
                top: -30px;
            }
            87% {
                opacity: 1;
                top: 0px;
            }
            94% {
                opacity: 1;
                top: -10px;
            }
            100% {
                opacity: 1;
                top: 0px;
            }
        }
    }
}
