@mixin disk-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    $player1DiskColor: #f9e79f;
    $player2DiskColor: lightcoral;

    .disk__item {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: mat-color($background, card);
        display: flex;
        align-items: center;
        justify-content: center;

        &.board__disk-item--filled-by-p1 {
            background-color: $player1DiskColor;
        }

        &.board__disk-item--filled-by-p2 {
            background-color: $player2DiskColor;
        }
    }
}
