@mixin sidenav-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);
    $background: map-get($theme, background);
    $foreground: map-get($theme, foreground);

    mat-sidenav-container {
        height: 100vh;
    }

    mat-sidenav {
        min-width: 70vw;
    }

    mat-nav-list {
        padding-top: 0;
    }

    .sidenav__header {
        background: mat-color($primary, darker);
        padding: 16px;
        & h2 {
            margin: 0;
        }
    }

    .sidenav__body {
        display: flex;
        flex-direction: column;
        & > a {
            padding-top: 16px;
            padding-bottom: 16px;
        }

        & .mat-list-item-content > span {
            margin-left: 8px;
        }
    }

    .sidenav__list__item {
        & div.mat-list-item-content {
            flex-direction: row;
            justify-content: space-between;
            margin-left: 8px;
        }
    }
}
