@import '~@angular/material/theming';
@include mat-core();

/************************
 Theming section
************************/

// Custom themable components
@import './app/modules/connect4/components/board/board.component';
@import './app/modules/connect4/components/disk/disk.component';
@import './app/modules/header/components/toolbar/toolbar.component';
@import './app/modules/sidenav/components/sidenav/sidenav.component';
@import './app/modules/footer/components/signature/signature.component';
@mixin custom-components-theme($theme) {
    @include board-theme($theme);
    @include disk-theme($theme);
    @include toolbar-theme($theme);
    @include sidenav-theme($theme);
    @include signature-theme($theme);
}

// Light theme
$light-primary: mat-palette($mat-indigo);
$light-accent: mat-palette($mat-blue, A200, A100, A400);
$light-warn: mat-palette($mat-orange);
$light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

.light-theme {
    @include angular-material-theme($light-theme);
    @include custom-components-theme($light-theme);
}

// Dark theme
$dark-primary: mat-palette($mat-grey);
$dark-accent: mat-palette($mat-deep-purple, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
    @include angular-material-theme($dark-theme);
    @include custom-components-theme($dark-theme);
}

/************************
 Default global styles
************************/

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}
